span.legend-icon {
  width: 1.5em;
  min-width: 1.5em;
  min-height: 1.5em;
  height: 1.5em;
  display: inline-block;
  margin-right: 1em;
  vertical-align: middle;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;

  &.path-icon {
    background: url("@/icons/path.svg");

    &.qualifie {
      filter: invert(60%) sepia(98%) saturate(1352%) hue-rotate(13deg) brightness(113%) contrast(86%);
    }

    &.nonqualifie {
      filter: invert(41%) sepia(10%) saturate(3936%) hue-rotate(339deg) brightness(99%) contrast(94%);
    }

    &.cyclable {
      filter: invert(41%) sepia(7%) saturate(2945%) hue-rotate(120deg) brightness(92%) contrast(89%);
    }
  }
}