$vv-white: #f9f9f9;
$vv-black: #333;

$color-background: $vv-white;

$color-font: $vv-black;
$color-font-hover: #0064e5;
$color-font-active: #535bf2;


$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;