.wp-block-coblocks-gallery-carousel {
  margin-bottom: 6rem !important;

  & figcaption {
    font-size: 1.75rem !important;
    padding: 2rem !important;
  }
}

.wp-block-coblocks-gallery-carousel-page-dot-pagination-container {
  display: none !important;
}