body {
  font-family: $font-family;
  margin: 0 auto;
  box-sizing: border-box;
  line-height: 1.5;
  color: $color-font;
  background-color: $color-background;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1399px) {
    padding: 0 5%;
    max-width: 1200px;
  }

  @media screen and (min-width: 1400px) and (max-width: 1599px) {
    padding: 0;
    max-width: 1300px;
  }

  @media screen and (min-width: 1600px) {
    padding: 0;
    max-width: 1500px;
  }
}

main {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: max(5vh, 2rem) 0;
}

h1 {
  font-weight: 400;
  margin: 0 0 .5em;
}

.vv-map-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#vv-map-mapbox-container {
  width: 100%;
  flex-grow: 1;
}

.legend-title {
  font-weight: 400;
  margin: 0 0 .75em;
  font-size: 1.5em;
}

.legend-content {
  font-size: 1em;
}

.legend-line {
  margin: 0;

  +.legend-line {
    margin-top: 1em;
  }
}

.legend-credits {
  margin-top: 2em;
  font-size: 1em;
}

@media screen and (max-width: 999px) {

  main {
    min-height: calc(100vh - 4rem);
  }


  h1 {
    font-size: 1.25rem;
  }

  #vv-map-mapbox-container {
    min-height: 300px;
  }

  .vv-map-legend {
    font-size: .75rem;
    margin-top: 1.5rem;
  }

  .row {
    flex-direction: column;
  }
}

@media screen and (min-width: 1000px) {

  h1 {
    font-size: 1.75rem;
  }

  .vv-map-container {
    flex-direction: row;
    align-items: stretch;
  }

  .vv-map-legend {
    width: 33%;
    padding: 0 0 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
  }
}